* {
    font-family: 'Cascadia Code';
    color: white;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #020205;
}

/* Top Part */

.top-page {
    background: url("../images/nebula.png");
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.top-page h1 {
    text-align: center;
    line-height: 60vh;

    vertical-align: middle;
    font-size: 120px;
}

.top-page h3{
    font-size: 16px;
    font-weight: 400;

    padding: 10px;
    margin-top: -40px;

    vertical-align: bottom;
}

/* Prototype Part */

.prototypes{
    margin: 80px;
}

.prototypes h2{
    margin-top: -20px;
    text-align: center;
}

.videos{
    transition: 0.2s;

    margin-top: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.videos video{
    border-radius: 10px;
}